@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

:root{
    --color-de-fondo: #f3f3fc;
    --color-primario: #0A3871;
    --color-secundario: white;
    --color-terciario: #343A40;
    --color-terciario-2: #495057;
    --color-terciario-3: #E9ECF8;
    --color-cuaternario: #d8dfe8;
}

*{
    background: var(--color-de-fondo);
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

header{
    z-index:10;
    position: fixed;
}

.logo{
    padding-top: 10%;
    margin-left: 0%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100vw;
}

.seccion-1{
    min-width: 300px;
    width: 50%;
    margin-left: 15%;
}

.text-area{
    border: none;
    width: 100%;
    height: 80%;
    font-size: 2rem;
    color: var(--color-primario);
    margin-top: 27%;
    text-transform: lowercase;
    resize: none;
    position: relative;
}

::placeholder{color:var(--color-primario);}

.text-area:focus{
    outline: none;
}

.botones{
    display: flex;
    position: absolute;
    margin-top: 1%;
    justify-content: center;
    gap: 2%;
    bottom: 10%;
    width: 50%;
    height: 6%;
    left: 10%;
}

.btn-encriptar{
    background-color:var(--color-primario);
    color: var(--color-secundario);
    border-radius: 10px;
    width: 40%;
    max-width: 328px;
    max-height: 500px;
    border: 1px solid black;
}

.btn-desencriptar{
    background-color: var(--color-cuaternario);
    color: var(--color-primario);
    border-radius: 10px;
    width: 40%;
    max-width: 328px;
    max-height: 500px;
    border: 1px solid black;
}

.informacion{
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 17%;
}

.informacion-texto{
    font-size: .8rem;
    color: var(--color-terciario-2);
    align-content: center;
}

.informacion-logo{
    align-content: center;
}

.seccion-2{
    width: 30vw;
    min-width: 200px;
    padding-left: 2%;
    height: 90vh;
    min-height: 400px;
    padding-right: 1%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.mensaje-contenedor{
    /*background-color: var(--color-secundario);*/
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    color:var(--color-primario);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
}

.mensaje-contenedor-imagen{
    width: 100%;
    padding-top: 15vh;
    background-color: var(--color-secundario);
    align-items: center;
}

.mensaje-contenedor-texto{
    text-align: center;
    padding-top: 3%;
    background-color: var(--color-secundario);
}
.mensaje-contenedor-titulo{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2%;
    background-color: var(--color-secundario);
}

.mensaje-contenedor-subtitulo{
    font-size: 1rem;
    text-align: center;
    padding-top: 1%;
    background-color: var(--color-secundario);
}

.texto-encriptado{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;
    background-color: var(--color-secundario);
    width: 100%;
    height: 100%;
}

.mensaje-contenedor-copiar{
    font-size: 1rem;
    font-weight: 400px;
    color: var(--color-primario);
    width: 60%;
    max-width: 408px;
    height: 7%;
    max-height: 500px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 60px;
    position: absolute;
    bottom: 20px;
}

@media (max-width: 800px) {
    main{
        flex-direction: column;
        align-items: center;
    }
    .seccion-1, .seccion-2{
        margin-left: 0;
        width: 90%;
        max-width: none;
    }
    .mensaje-contenedor{
        margin-left: 20px;
    }
}